In [2]:
import pandas as pd

In [3]:
dataset = pd.read_csv('Train_dataset.csv')

In [5]:
dataset.head(10)

,sentence,word,index,label
0,In 1832 his family emigrated thence to Bellevi...,thence,5,1
1,In 1832 his family emigrated thence to Bellevi...,apprenticed,13,1
2,In 1832 his family emigrated thence to Bellevi...,family,3,0
3,In 1832 his family emigrated thence to Bellevi...,emigrated,4,0
4,In 1832 his family emigrated thence to Bellevi...,printer,16,0
5,In 1832 his family emigrated thence to Bellevi...,town,19,0
6,In 1832 his family emigrated thence to Bellevi...,newspaper,20,0
7,"Leo , on December 23 , took an oath of purgati...",exiled,22,1
8,"Leo , on December 23 , took an oath of purgati...",oath,8,1
9,"Leo , on December 23 , took an oath of purgati...",purgation,10,1